<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- <bean id="car1" class="com.spring.beans.Car" p:type="宝马" scope="prototype"></bean> -->
	<!-- byType:按照类型自动装配 -->
	<!-- <bean id="person1" class="com.spring.beans.Person" autowire="byType"></bean>
	<bean id="person2" parent="person1"></bean> -->
	
	<!-- <bean id="car" class="com.spring.beans.Car" p:type="奔驰"></bean> -->
	<!-- <bean id="person1" class="com.spring.beans.Person" autowire="byName"></bean> -->
	
	<!-- <bean id="bastractPerson" abstract="true" p:name="Tom" p:car-ref="car1"></bean>
	<bean id="person1" class="com.spring.beans.Person" p:name="李四" p:car-ref="car1"></bean>
	<bean id="person2" parent="bastractPerson" p:name="王五"></bean> -->
	
	<!-- <bean id="person1" class="com.spring.beans.Person" p:name="李四" p:car-ref="car1" depends-on="car1"></bean> -->
	
	<!-- <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:person.properties"></property>
	</bean> -->
	<!-- <context:property-placeholder location="classpath:person.properties"/>
	<bean id="car1" class="com.spring.beans.Car" p:type="宝马" scope="prototype"></bean>
	<bean id="person1" class="com.spring.beans.Person" p:name="${personName}" p:age="${personAge}"></bean> -->
	
	<!-- <bean id="myBeanPostProcessor" class="com.spring.beans.MyBeanPostProcessor"></bean>
	<bean name="car1" class="com.spring.beans.Car">
		<property name="type" value="BMW"></property>
	</bean>
	<bean name="person1" class="com.spring.beans.Person" init-method="a" destroy-method="b">
		<property name="name" value="tom"></property>
		<property name="age" value="22"></property>
		<property name="car" value="#{car1}"></property>
	</bean> -->
	<!-- <bean name="person2" class="com.spring.beans.Person">
		<property name="name" value="#{person1.name.toUpperCase()}"></property>
		<property name="age" value="#{person1.age - 2}"></property>
		<property name="car" value="#{person1.car}"></property>
	</bean> -->
	
	<!-- 包含静态工厂方法的类 -->
	<bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateInstance">
		<constructor-arg value="2"></constructor-arg>
	</bean>
	
	<bean id="simpleDateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg value="yyyy-MM-dd hh:mm:ss"></constructor-arg>
	</bean>
	<bean id="date" factory-bean="simpleDateFormat" factory-method="parse">
		<constructor-arg value="2018-8-2 12:10:45"></constructor-arg>
	</bean>
</beans>
